<div class="container px-5">
    <div class="row mb-2">
        <div class="col-12">
            <div class="card px-4 py-4" style="border-radius: 15px;">
                <h5>Laporan Kolam</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <div class="d-flex flex-row bd-highlight mb-3  ">
                <div class="py-2 bd-highlight">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Tambak</label>
                </div>
                <div class="p-2 bd-highlight">

                    <select class="form-select" aria-label="Default select example">

                    </select>

                </div>
                <div class="py-2  bd-highlight">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Batch</label>
                </div>
                <div class="p-2 bd-highlight">
                    <select class="form-select" aria-label="Default select example">

                    </select>
                </div>
                <!-- <div class="py-2 bd-highlight">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Kolam</label>
                </div>
                <div class="p-2 bd-highlight">
                    <select class="form-select" aria-label="Default select example">

                    </select>
                </div> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" style="border-radius: 15px;">
                <div class="d-flex bd-highlight mb-3">
                    <div class="me-auto px-4 py-3 bd-highlight">
                        <div class="">
                            <h5>Preview Laporan</h5>
                            Kolam : <span class="badge rounded-pill " style="background-color: #ccdffd;">A1</span>
                            &nbsp;
                            Batch : <span class="badge rounded-pill " style="background-color: #ccdffd;">Januari -
                                Februari 2021</span>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <button class="btn btn-primary m-2" style="border-radius: 15px; width: 120px;">Pilih
                            Kolam</button>
                    </div>
                </div>
                <div class="bg-primary" style="height: 30px;"></div>
                <div class="card-body">
                    <h5 class="text-center">LAPORAN </h5>
                    <p class="text-center text-primary "> Tambak Asmara</p>
                    <div class="row mb-5 mt-5">
                        <div class="col-12">
                            <table class="info-tambak">
                                <tr>
                                    <th>Lokasi Tambak</th>
                                    <td>: </td>
                                    <td> Yogyakarta </td>
                                </tr>
                                <tr>
                                    <th>Jumlah Kolam</th>
                                    <td>:</td>
                                    <td>1</td>

                                </tr>
                                <tr>
                                    <th>Periode Siklus</th>
                                    <td>:</td>
                                    <td>29 Noember - 27 Desmber 2021</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-primary">REKAP STOK PAKAN</p> <br>
                            <table class="table table-laporan">
                                <thead class="text-primary text-center">
                                    <tr>
                                        <th>Nama</th>
                                        <th>Total Pakan</th>
                                        <th>Pakan Terpakai</th>
                                        <th>Pakan Sisa</th>
                                        <th>Harga /Kg</th>
                                        <th>Total Biaya Pakan</th>
                                        <th>Tgl Pembelian</th>
                                        <th>Tgl Kadaluwarsa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Dombala</td>
                                        <td>5 Kg</td>
                                        <td>2 Kg</td>
                                        <td>3 Kg</td>
                                        <td>Rp. 25.000</td>
                                        <td>Rp. 125.000</td>
                                        <td>12-01-21</td>
                                        <td>28-02/21</td>
                                    </tr>
                                    <tr>
                                        <td>Dombala</td>
                                        <td>5 Kg</td>
                                        <td>2 Kg</td>
                                        <td>3 Kg</td>
                                        <td>Rp. 25.000</td>
                                        <td>Rp. 125.000</td>
                                        <td>12-01-21</td>
                                        <td>28-02/21</td>
                                    </tr>
                                    <tr>
                                        <td>Dombala</td>
                                        <td>5 Kg</td>
                                        <td>2 Kg</td>
                                        <td>3 Kg</td>
                                        <td>Rp. 25.000</td>
                                        <td>Rp. 125.000</td>
                                        <td>12-01-21</td>
                                        <td>28-02/21</td>
                                    </tr>
                                    <tr>
                                        <td>Dombala</td>
                                        <td>5 Kg</td>
                                        <td>2 Kg</td>
                                        <td>3 Kg</td>
                                        <td>Rp. 25.000</td>
                                        <td>Rp. 125.000</td>
                                        <td>12-01-21</td>
                                        <td>28-02/21</td>
                                    </tr>
                                    <tr>
                                        <td>Dombala</td>
                                        <td>5 Kg</td>
                                        <td>2 Kg</td>
                                        <td>3 Kg</td>
                                        <td>Rp. 25.000</td>
                                        <td>Rp. 125.000</td>
                                        <td>12-01-21</td>
                                        <td>28-02/21</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>