<div class="container px-5">

    <div class="row">
        <div class="col-12">
            <div class="card px-4 py-4" style="border-radius: 15px;">
                <h5 class="route-title">Update Data Stok</h5>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="card border " style="border-radius: 15px;">
                <div class="card-header text-center text-primary ">

                    Update Stok
                </div>
                <div class="card-body border-danger px-4 pb-5">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="nama-tambak" class="form-label">Kolam</label>
                                <input type="" class="form-control border border-grey" id="nama-tambak">
                            </div>
                            <div class="mb-3">
                                <label for="nama-tambak" class="form-label">Tanggal Pembelian</label><br>
                                <input type="date" class="form-control border border-grey" id="nama-tambak">
                            </div>
                            <div class="mb-3">
                                <label for="nama-tambak" class="form-label">Total Berat</label>
                                <input type="number" class="form-control border border-grey" id="nama-tambak">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="nama-tambak" class="form-label">Harga / Kg</label>
                                <input type="number" class="form-control border border-grey" id="nama-tambak">
                            </div>
                            <div class="mb-3">
                                <label for="nama-tambak" class="form-label">Tanggal Kadaluwarsa</label>
                                <input type="date" class="form-control border border-grey" id="nama-tambak">
                            </div>
                            <div class="mb-3">
                                <label for="nama-tambak" class="form-label">Harga / Kg</label>
                                <textarea type="" class="form-control border border-grey" id="nama-tambak"
                                    style="height: 100px;"></textarea>
                            </div>
                            <div class=" text-center">
                                <button class="btn btn-primary" style="border-radius: 10px;">
                                    <fa-icon [icon]="faSave"></fa-icon>
                                    SIMPAN
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>