.nav-link{
    color: white;
}
button.nav-link.active{
    background-color: white;
    color:#5495f9;
    outline:0;
    border-radius: 10px;
}

h6{
    margin-bottom: 10px;
    display: inline-block;
}

.card-content{
    border-radius: 15px;
    overflow: hidden;
}

table tr th{
    color:#5495f9; 
}

