<div class="container">
    <div class="row mb-3 px-4">
        <div class="col-12">
            <div class="card px-4 py-4" style="border-radius: 15px;">
                <h5 class="route-title">Persedian Stok</h5>
            </div>
        </div>
    </div>
    <div class="row px-4">
        <div class="col-9">
            <div class="d-flex">
                <div class="d-flex bd-highlight me-2 p-2 shadow-sm p-3 mb-5 bg-body "
                    style="width: 250px; height: 100px; background-color: white; border-radius: 13px;">
                    <div class="me-3 flex-shrink-1 bd-highlight clearMP">
                        <div class="rounded-pill " style="background-color: #deffef; padding: 10px;">
                            <svg width="42" height="38" viewBox="0 0 42 38" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M34.3636 0L24.8182 9.26829V29.6585L34.3636 21.3171V0ZM0 9.26829V36.4244C0 36.8878 0.477273 37.3512 0.954545 37.3512C1.14545 37.3512 1.24091 37.2585 1.43182 37.2585C4.00909 36.0537 7.73182 35.2195 10.5 35.2195C14.2227 35.2195 18.2318 35.961 21 38V9.26829C18.2318 7.22927 14.2227 6.4878 10.5 6.4878C6.77727 6.4878 2.76818 7.22927 0 9.26829ZM42 34.2927V9.26829C40.8545 8.43415 39.6136 7.87805 38.1818 7.41463V32.439C36.0818 31.7902 33.7909 31.5122 31.5 31.5122C28.2545 31.5122 23.5773 32.7171 21 34.2927V38C23.5773 36.4244 28.2545 35.2195 31.5 35.2195C34.65 35.2195 37.8955 35.7756 40.5682 37.1659C40.7591 37.2585 40.8545 37.2585 41.0455 37.2585C41.5227 37.2585 42 36.7951 42 36.3317V34.2927Z"
                                    fill="#4BDE97" />
                            </svg>
                        </div>
                    </div>
                    <div class=" w-100 bd-highlight ">
                        <p class="text-secondary" style="font-size: 13px;">Stok Pakan Terpakai</p>
                        <p style="font-size: 20px;"><b>77 Kg</b></p>
                        <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.4 0L17.919 2.48083L12.551 7.7675L8.151 3.43417L0 11.4725L1.551 13L8.151 6.5L12.551 10.8333L19.481 4.01917L22 6.5V0H15.4Z"
                                fill="#4BDE97" />
                        </svg>
                    </div>
                </div>
                <div class="d-flex bd-highlight me-2 p-2 shadow-sm p-3 mb-5 bg-body "
                    style="width: 250px; height: 100px; background-color: white; border-radius: 13px;">
                    <div class="me-3 flex-shrink-1 bd-highlight clearMP">
                        <div class="rounded-pill " style="background-color:  #dbcfff; padding: 10px;">
                            <svg width="37" height="37" viewBox="0 0 37 37" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.875 4.79167V32.2083C0.875 34.3625 2.61792 36.125 4.79167 36.125H16.5417V0.875H4.79167C2.61792 0.875 0.875 2.6375 0.875 4.79167ZM32.2083 0.875H20.4583V16.5417H36.125V4.79167C36.125 2.6375 34.3625 0.875 32.2083 0.875ZM20.4583 36.125H32.2083C34.3625 36.125 36.125 34.3625 36.125 32.2083V20.4583H20.4583V36.125Z"
                                    fill="#6A4CC6" />
                            </svg>
                        </div>
                    </div>
                    <div class=" w-100 bd-highlight ">
                        <p class="text-secondary" style="font-size: 13px;">Sisa Stok Pakan</p>
                        <p style="font-size: 20px;"><b>77 Kg</b></p>
                        <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.3332 13.5L17.814 11.0192L12.5273 5.7325L8.194 10.0658L0.166504 2.0275L1.694 0.5L8.194 7L12.5273 2.66667L19.3523 9.48083L21.8332 7V13.5H15.3332Z"
                                fill="#FF4444" />
                        </svg>

                    </div>
                </div>
                <div class="d-flex bd-highlight me-2 p-2 shadow-sm p-3 mb-5 bg-body "
                    style="width: 250px; height: 100px; background-color: white; border-radius: 13px;">
                    <div class="me-3 flex-shrink-1 bd-highlight clearMP">
                        <div class="rounded-pill " style="background-color:  #ffefcf; padding: 10px;">
                            <svg width="38" height="36" viewBox="0 0 38 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M33.5833 0H4.41667C2.125 0 0.25 1.8 0.25 4V32C0.25 34.2 2.125 36 4.41667 36H33.5833C35.875 36 37.75 34.2 37.75 32V4C37.75 1.8 35.875 0 33.5833 0ZM12.75 28H8.58333V14H12.75V28ZM21.0833 28H16.9167V8H21.0833V28ZM29.4167 28H25.25V20H29.4167V28Z"
                                    fill="#FFB648" />
                            </svg>
                        </div>
                    </div>
                    <div class=" w-100 bd-highlight ">
                        <p class="text-secondary" style="font-size: 13px;">Total Stok Pakan</p>
                        <p style="font-size: 20px;"><b>{{totalSemuaStokPakan}} Kg</b></p>
                        <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.3332 13.5L17.814 11.0192L12.5273 5.7325L8.194 10.0658L0.166504 2.0275L1.694 0.5L8.194 7L12.5273 2.66667L19.3523 9.48083L21.8332 7V13.5H15.3332Z"
                                fill="#FF4444" />
                        </svg>

                    </div>
                </div>


            </div>



        </div>
        <div class="col-3">
            <div class="card">
                <div class=" card-body ">
                    <h3 class="card-title">Top Pakan</h3>
                    <h6 class="card-subtitle mb-2 text-muted">{{listPakan.length}} Jenis</h6>
                    <hr>
                    <div class="pe-3" style="overflow: scroll; height: 300px;">
                        <div class="clearfix mb-3" *ngFor="let namaPakan of listPakan">
                            <div class="float-start">
                                <p style="font-size: 11px;"><b>{{namaPakan.nama}}</b></p>
                            </div>
                            <div class="float-end">
                                <p style="font-size: 11px;" class="text-secondary">Vitamin</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row px-4 pt-4">
        <div class="col-12">
            <div class="card shadow mb-4" style="border-radius: 20px;">
                <div class="card-header">
                    <h5 class="float-start  ">
                        Stock Pakan
                    </h5>
                    <button routerLink="/stech/stok-pakan/input-stok" class="float-end btn btn-primary">
                        INPUT STOK
                    </button>
                    <div class="clear-fix"></div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table datatable class="table row-border hover table-striped table-hover">
                            <thead class="bg-primary text-white rounded">
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama Pakan</th>
                                    <th scope="col">Kuantitas</th>
                                    <th scope="col">Nilai Stok</th>
                                    <th scope="col">Tgl Pembelian</th>
                                    <th scope="col">Tgl Kadaluwarsa</th>
                                    <th scope="col">Sisa Stok</th>
                                    <th scope="col">Stok terpakai</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let stok of listPakan; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{stok.nama}}</td>
                                    <td>Kuantitas</td>
                                    <td>{{stok.harga}}</td>
                                    <td>{{stok.tgl_beli}}</td>
                                    <td>{{stok.tgl_expired}}</td>
                                    <td>{{stok.total_berat}} Kg</td>
                                    <td>Stok terpakai</td>
                                    <td style="width: 100px;">
                                        <button class="btn btn-sm btn-primary rounded-circle">
                                            <fa-icon [icon]="faPen" style="font-size: 15px;"></fa-icon>
                                        </button> &nbsp;
                                        <button class="btn  btn-sm btn-danger rounded-circle">
                                            <fa-icon [icon]="faTrash " style="font-size: 15px;">
                                            </fa-icon>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>

                        </table>

                        <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Title</th>
                                            <th>Body</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let post of dataStokPakan">
                                        <td>{{ post.id }}</td>
                                        <td>{{ post.title }}</td>
                                        <td>{{ post.body }}</td>
                                    </tr>
                                </tbody>
                            </table> -->

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>